<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ticketing System</title>
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/main.js"></script>
    </head>
    <body>
        <header>
            <div class="logo">
                <button onclick="showMainPage()">main</button>
            </div>
            <nav class="menu">
                <button onclick="goToLogin()">로그인</button>
                <button onclick="goToSignup()">회원가입</button>
                <button onclick="goToMypage()">마이페이지</button>
            </nav>
        </header>
    <main>
        <div class="poster">
            <img src="{{ url_for('static', filename='images/image.jpg') }}" alt="공연 이미지 1">
        </div>
        <div class="details">
            <h2>공연 이름: 마법의 오페라</h2>
            <p><strong>장소:</strong> 서울 아트센터 대극장</p>
            <p><strong>공연 날짜:</strong> 
                <input type="date" id="date" min="2024-11-29" max="2025-05-18" required>
            </p>
            <p><strong>공연 시간:</strong> 170분 (인터미션 포함)</p>
            <p><strong>관람 연령:</strong> 만 7세 이상</p>
            <div class="seat-prices">
                <p><strong>가격:</strong></p>
                <ul>
                    <li>VIP석: ₩170,000</li>
                    <li>R석: ₩140,000</li>
                    <li>S석: ₩110,000</li>
                    <li>A석: ₩80,000</li>
                </ul>
            </div>
            <button class="submit-button" onclick="bookTicket()">예매하기</button>
        </div>
    </main>
    <script>
        function bookTicket() {
            const dateInput = document.getElementById('date');
            const date = dateInput.value;

            if (!date) {
                alert('공연 날짜를 선택하세요!');
                return;
            }

            alert(`티켓 예매가 완료되었습니다!\n공연 날짜: ${date}`);
        }
    </script>
</body>
</html>