<!--#storage-web/app/templates/explorer.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 목록 테이블</title>
    <link rel="stylesheet" href="../static/css/explorer.css">
</head>
<body>

    <form id="upload-form" enctype="multipart/form-data" method="post" action="/explorer/upload">
        <div class="button-container">
            <input type="file" id="file-upload" name="files" multiple style="display: none;" />
            <button type="button" id="upload-button">업로드</button>
            <button type="button">삭제</button>
            <button type="button">로그아웃</button>
        </div>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>&nbsp</th>
                <th>이름</th>
                <th>수정한 날짜</th>
                <th>크기</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody id="file-list">
            <!-- 파일 목록은 서버에서 동적으로 렌더링 -->
        </tbody>
    </table>
    
    <script src="../static/js/explorer.js"></script>

</body>
</html>