{% extends "layout.html" %}

{% block title %}메인 페이지{% endblock %}

{% block content %}
    {% for concert in concert_info %}
    <li>
        <a href="{{ config['SERVER_BASE_URL'] }}/concert/{{ concert.concert_id }}" target="_blank">
            <img src="{{ concert.image }}" alt="공연 이미지: {{ concert.name }}">
            <p>공연 이름: {{ concert.name }}</p>
            <p>공연 날짜: {{ concert.date }}</p>
            <p>공연 장소: {{ concert.place }}</p>
        </a>
    </li>
    {% endfor %}
{% endblock %}