<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 폼</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <div class="signup-container">
        <form action="#" method="post">
            <h2>회원가입</h2>
            <div class="form-group">
                <label for="username">ID</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">PW</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">PW Again</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>